body {background-color: rgb(204, 194, 196);}
.container, .container-fluid {
    border-color: purple;
    border-style: dotted;
}

.col, .col-5, .col-sm-4, .col-sm-8 {
    border-color: green;
    border-style: solid;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }